# Игнорировать все в папке target
target/*

.DS_Store

# Но не игнорировать папку, которую вы хотите оставить
!target/jacoco-report/
!target/test-classes/
!target/classes/
# Игнорировать папку .idea (для IntelliJ IDEA)
.idea/